@import '../../styles/mixins.scss';

.campaign {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #{map-get($default-theme, background)};

  &__container {
    @include spacify(margin-top, x-large);
    width: 90%;
    display: flex;
    flex-direction: column;
    @include spacify(gap, x-large);

    @include respond(md) {
      flex-direction: row;
      align-items: flex-start;
    }

    @include respond(lg) {
      width: 85%;
    }
  }
}

.column {
  display: flex;
  width: 100%;
  flex-direction: column;
  @include spacify(gap, x-large);
  flex-grow:2;
}