@import '../../styles/mixins.scss';

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #{map-get($default-theme, background)};
}