@import '../../styles/mixins.scss';

.welcome-card {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #{map-get($default-theme, background)};

  &__content {
    background-color: #{map-get($default-theme, background-secondary)};
    @include spacify(padding, x-large);
    width: 30rem;
  }

  &__status {
    color: #{map-get($default-theme, text)};
    @include fontify(primary, bold, medium);
    text-align: center;
  }
}