@import '../../styles/mixins.scss';

.donation {
  display: flex;
  flex-direction: column;
  @include spacify(gap, medium);
  width: 25rem;

  &__title {
    @include fontify(primary, bold, medium);
    color: #{map-get($default-theme, text)};

    @include respond(lg) {
      @include fontify(primary, bold, large);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include spacify(gap, small);
    width: 100%;
  }

  &__label {
    @include fontify(primary, normal, small);
    color: #{map-get($default-theme, text)};

    @include respond(lg) {
      @include fontify(primary, bold, medium);
    }
  }

  &__input {
    @include spacify(padding, x-small);
    @include fontify(primary, normal, small);

    @include respond(lg) {
      @include fontify(primary, normal, medium);
    }

    &:focus {
      outline: 1px solid;
      outline-color: #{map-get($default-theme, primary)};
    }
  }

  &__submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #{map-get($default-theme, primary)};
  }

  &__submit {
    width: 100%;
    border-radius: 0.3rem;
    border: 0;
    color: #{map-get($default-theme, background-secondary)};
    background-color: #{map-get($default-theme, primary)};
    ;
    transition: all 0.25s ease;
    @include fontify(primary, bold, small);
    @include spacify(padding, x-small);

    @include respond(lg) {
      @include fontify(primary, bold, medium);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0.4rem 0.4rem #{map-get($default-theme, secondary)};
    }
  }
}

.error {
  @include fontify(primary, bold, small);
  color: #{map-get($default-theme, secondary)};
  word-break: break-word;
  text-align: center;
}

.message {
  @include fontify(primary, bold, small);
  color: #{map-get($default-theme, primary)};
  word-break: break-word;
  text-align: center;
}